{% extends 'rango/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
<div class='hero-unit'>
        
        <h1>Login to Rango</h1>
        <div class='container'>
        <form class='form-signin span6' id='login_form' method='post' action='{% url 'rango:login' %}'>
        <h2 class='form-signin-heading'>Please sign in</h2>
       
 {% csrf_token %}

        {% if error_message %}
        <p style='color:red; font-family:serif'><strong>The username or password you entered is incorrect!<strong></p>
        {% elif disabled_account %}
        <p style='color:red; font-family:serif'><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
        {% else %}
         <p>Login from Here!</p>
        {% endif %}

        Username: <input type='text' class='input-block-level' placeholder='Username' name='username' value='' size='50'/>
        <br />
        Password: <input type='password' class ='input-block-level' placeholder='password' name='password' value='' size='50' />
        <br />
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    

        
        </form>
    </div>
</div>
{% endblock %}